<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/11265118_10153270382795750_6331748899190766110_n.jpg" alt="">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">I am Jason Wang</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">Software Engineer - Web Developer - Data Engineer</p>
    </div>
</header>